@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --main-text: #ffc107;
    --secondary-color: #111010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 2px;
    line-height: 1.5;
}

body {
    /* background-color: var(--secondary-color); */
    color: var(--main-text);
    background: none;
    /* background: url('./assets/images/starbg.jpg') center center/cover no-repeat; */
}

#header h2 {
    font-size: 1.25rem;
    color: var(--main-text);
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 80%;
    margin: auto;
}

#quiz-container {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.question {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--main-text);
}

.answer {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--main-text);
    color: var(--main-text);
    background: rgba(37, 37, 37, 0.6);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.answer:hover {
    background-color: var(--main-text);
    color: var(--secondary-color);
}

#score-container {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

#correct {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--main-text);
    color: var(--main-text);
    background: rgba(37, 37, 37, 0.6);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
#wrong {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--main-text);
    color: var(--main-text);
    background: rgba(37, 37, 37, 0.6);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-play {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--main-text);
    color: var(--main-text);
    background: rgba(37, 37, 37, 0.6);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-play:hover {
    background-color: var(--main-text);
    color: var(--secondary-color);
}

.modal-content {
    font-size: 1.25rem;
    background-color: blue;
    color: #ffc107;
}
