:root {
    --main-text: #ffc107;
    --secondary-color: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 2px;
    line-height: 1.5;
}

body {
    background-color: var(--secondary-color);
    color: var(--main-text);
    background: url('../images/starbg.jpg') center center/cover no-repeat;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.answer {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--main-text);
    color: var(--main-text);
    background: rgba(37, 37, 37, 0.6);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.answer:hover {
    background-color: var(--main-text);
    color: var(--secondary-color);
}

#resultDialog {
    z-index: 2;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
    text-align: center;
}

#resultDialog::backdrop {
    background: rgba(136, 136, 136, 0.8);
    z-index: 2;
}

#result{
    display: none;
    text-align: center;
}
