@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-text: #ffc107;
  --secondary-color: #252525;
  --third-color: #888;
  --fourth-color: #000;
  --bgButtons-shade: rgba(37, 37, 37, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 2px;
  line-height: 1.5;
}

body {
  background-color: var(--secondary-color);
  color: var(--main-text);
  height: 100vh;
  background-color: red;
  padding: 1rem 2rem 2rem;
}

/* Header Styling */
#header {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

#header img {
  width: 200px;
  padding: 0.5rem 0;
  margin: 0 auto;
}

#header h2 {
  font-size: 1.25rem;
  padding-top: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  /* width: 80%; */
  margin: auto;
}

#quiz-container {
  padding: 1rem;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bgButtons-shade);
  border-radius: 20px;
}

#quiz-container h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-bottom: 2rem;
}

.question {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--main-text);
}

.answer {
  text-align: center;
  margin: 5px;
  padding: 15px;
  font-size: 1rem;
  border-radius: 20px;
  border: 3px solid var(--main-text);
  color: var(--main-text);
  background: rgba(37, 37, 37, 0.6);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.answer:hover {
  background-color: var(--main-text);
  color: var(--secondary-color);
}

#score-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}

.correct-wrapper, .wrong-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  border-radius: 20px;
  border: 3px solid var(--main-text);
  background: rgba(37, 37, 37, 0.6);
  padding: 1rem auto;
}

#correct {

}
#wrong {

}

.btn-play {
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid var(--main-text);
  color: var(--main-text);
  background: rgba(37, 37, 37, 0.6);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-play:hover {
  background-color: var(--main-text);
  color: var(--secondary-color);
}

.modal-content {
  font-size: 1.25rem;
  background-color: blue;
  color: #ffc107;
  display: none;
}

#mute {
  position: relative;
  top: 0;
  left: 0;
}
