:root {
  --main-text: #ffc107;
  --secondary-color: #252525;
  --third-color: #888;
  --fourth-color: #000;
  --bgButtons-shade: rgba(37, 37, 37, 0.8);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

/* input name for modal */
input {
  border: none;
  border-radius: 20px;
  max-width: 90%;
  padding-left: 20px;
  color: var(--main-text);
  background-color: var(--third-color);
  font-size: 1rem;
}

/* input name for modal */
input::placeholder {
  color: var(--secondary-color);
}

/* input name for modal */
input:focus {
  outline: none;
  border-color: var(--main-text);
}

.return-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}

/* return home btn  */
.aBtn {
  width: 230px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid var(--main-text);
  border-radius: 20px;
  color: var(--main-color);
  background: rgba(37, 37, 37, 0.6);
  margin-bottom: 32px;
  margin-top: 32px;
}

/* question container  */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(37, 37, 37, 0.8);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 2rem;
}

/* question + answers container */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quiz-container h2 {
  color: var(--third-color);
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
}

.question {
  font-size: 1rem;
  text-align: center;
  color: var(--main-text);
  line-height: 1.8rem;
  padding-bottom: 2rem;
  letter-spacing: 0.5px;
}

.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

/* answers buttons */
.answer {
  text-align: center;
  font-size: 1rem;
  border-radius: 20px;
  border: 3px solid var(--main-text);
  background: rgba(136, 136, 136, 0.5);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  line-height: 2rem;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer:hover {
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  background-color: var(--main-text);
  box-shadow: 0 0 10px var(--main-text);
}

/* score container  */
.score-container {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.3rem 0.3rem;
  border-radius: 20px;
  background: rgba(136, 136, 136, 0.5);
}

.correct-wrapper,
.wrong-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 0.5rem;
  border-radius: 20px;
  padding: 0.1rem 1rem;
}

.correct-wrapper span,
.wrong-wrapper span {
  line-height: 2rem;
}

#quizModal {
  display: none;
}

/* Modal Styling */
#quizModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content h2 {
  color: var(--third-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 30px 0;
}

.modal-content p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.modal-content {
  position: relative;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  width: 70%;
  background-color: var(--secondary-color);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content a {
  text-decoration: none;
}

.scoreSave {
  display: flex;
  justify-content: center;
}

.scoreSave > button {
  margin-left: 10px;
}

/* Add Animation to drop in rules */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#winLose {
  margin: 10px auto;
  max-width: 80%;
  height: auto;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--main-text);
}

#wlText {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 15px 0;
}

/* Media Queries */
@media screen and (max-width: 525px) {
  /* #movie-container .btn,
  .aBtn {
    max-width: 200px;
  }
  .aBtn button {
    font-size: 0.8rem;
  } */
  /* .answer {
    font-size: 0.8rem;
  } */
  /* .question {
    font-size: 0.8rem;
  } */
  /* .quiz-container h2 {
    font-size: 1rem;
  } */
  /* .score-container {
    display: block;
    margin-top: 10px;
    padding: 0;
    font-size: 1rem;
  } */
  /* .correct-wrapper,
  .wrong-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 0.8rem;
    margin: 10px auto;
  } */
  /* .modal-content h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .modal-content p {
    font-size: 0.8rem;
  }

  #wlText {
    font-size: 0.5rem;
    line-height: 1.2rem;
  } */
}

/* @media screen and (max-width: 600px) {
  #header h2 {
    display: none;
  }
} */

@media screen and (min-width: 650px) {
  .answers {
    display: block;
  }

  .answers {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .answers > div {
    display: flex;
    flex-basis: calc(50% - 100px);
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }

  .modal-content {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 60%;
  }

  .modal-content {
    width: 40%;
  }
}
