@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-text: #ffc107;
  --secondary-color: #252525;
  --third-color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 2px;
  line-height: 3rem;
}

body {
  background-color: var(--secondary-color);
  color: var(--main-text);
  height: 100vh;
}

/* star background + warp effect  */
#space {
  transition: opacity 5s ease-out;
  /* display: none; */
}

.stars-bg {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Header Styling */
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#header img {
  width: 250px;
  margin: 0 auto;
}

#header h2 {
  font-size: 1.25rem;
}

main {
  display: flex;
  flex: 1 0 auto;
  position: relative;
}

.container {
  width: 80%;
  margin: 50px auto;
}

#movie-container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
  transition: opacity 1s ease-out;
}

.aBtn button {
  font-size: 1rem;
  display: flex;
  margin: 0 auto;
  text-transform: uppercase;
  background: none;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--main-text);
}

#movie-container .btn,
.aBtn {
  text-transform: uppercase;
  margin: 5px;
  font-size: 1rem;
  border-radius: 20px;
  border: 2px solid var(--main-text);
  color: var(--main-text);
  margin-bottom: 30px;
  width: 90%;
  margin: 30px auto;
  background: rgba(37, 37, 37, 0.6);
}

#movie-container a {
  text-decoration: none;
}

#movie-container .btn:hover,
#return-home .btn:hover,
#return-home button:hover,
.aBtn:hover {
  background-color: var(--main-text);
  color: var(--secondary-color);
  cursor: pointer;
  border: 3px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--main-text);
}

.aBtn button:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Film choices styling */
#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  transition: opacity 1s ease-in;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#return-home button {
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 0.7rem;
  border-radius: 10px;
  border: 2px solid var(--main-text);
  color: var(--main-text);
  margin-bottom: 30px;
  background: rgba(183, 183, 183, 0.4);
}

.btn-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(183, 183, 183, 0.4);
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
}

.btnImg {
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

.btnImg img {
  display: flex;
  height: 200px;
  width: 150px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 193, 7, 0.8);
  border-radius: 10px;
  /* rotateY: 360deg of images */
  transition: transform 2s ease-in-out;
}

.btnImg .esb {
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

.btnImg .jedi {
  box-shadow: 0 0 20px rgba(46, 4, 255, 0.6);
}
/* hover activation for images */
.btnImg img:hover {
  transform: rotateY(360deg);
}

/* Light Side */
#light-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  transition: opacity 1s ease-out;
}

#ligth-side {
  color: azure;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content h2,
h4 {
  color: var(--third-color);
  text-align: center;
}

.modal-content p {
  text-align: center;
  font-size: 0.75rem;
}

.modal-content {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid var(--third-color);
  width: 70%;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation to drop in rules */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Styling for the close button */
.close {
  color: var(--third-color);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(0, 0, 0, 0.885);
  text-decoration: none;
  cursor: pointer;
}

footer {
  color: var(--secondary-color);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

@media screen and (max-width: 425px) {
  #header img {
    width: 200px;
  }

  .modal-content h2 {
    margin: 10px 0;
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .modal-content h4 {
    margin: 10px 0;
    font-size: 0.6rem;
    line-height: 1rem;
  }

  .modal-content p {
    font-size: 0.5rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 768px) {
  #header {
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 1;
  }

  #header img {
    margin: 30px auto;
  }

  #header h2 {
    font-size: 1.5rem;
    padding: 40px;
  }

  #titleQuiz {
    width: 290px;
  }

  /* buttons styling */
  #movie-container .btn,
  .aBtn {
    width: 60%;
  }
  /* Film choices styling */
  .btn-grid {
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-bottom: 50px;
    padding: 50px;
  }
  .btnImg img {
    display: flex;
    height: 300px;
    width: 200px;
    cursor: pointer;
  }
}
