@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-text: #ffc107;
  --secondary-color: #252525;
  --third-color: #888;
  --fourth-color: #000;
  --bgButtons-shade: rgba(37, 37, 37, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 2px;
  line-height: 3rem;
}

a:visited{
    text-decoration: none;
    color: var(--main-color);
}

body {
  background-color: var(--secondary-color);
  color: var(--main-text);
  height: 100vh;
}

/* star background + warp effect  */
#space {
  width: 100%;
  height: 100%;
  transition: opacity 5s ease-out;
}

.stars-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Travel animation for home page */
@keyframes travelFromBottom {
  0% {
    opacity: 0;
    transform: translateY(1000px); /* Start from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End in place */
  }
}

.travel-from-bottom {
  animation: travelFromBottom 2s ease-out; /* Adjust duration as needed */
}

/* Header Styling */
#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 70px auto 0;
}

#header img {
  width: 240px;
  margin: 0 auto;
}

#header h2 {
  font-size: 1.3rem;
}

main {
  display: flex;
  flex: 1 0 auto;
  position: relative;
}

/* content container for home page and choose a movie */
.container {
  width: 100%;
}

/* container buttons home page */
#movie-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: opacity 1s ease-out;
}

/* buttons home page */
#movie-container .btn,
.aBtn {
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 20px;
  border: 3px solid var(--main-text);
  color: var(--main-text);
  width: 300px;
  margin: auto;
  margin-bottom: 2rem;
  background: var(--bgButtons-shade);
}

/* buttons home page */
#movie-container .btn:hover,
#return-home .btn:hover,
#return-home button:hover,
.aBtn:hover {
  background-color: var(--main-text);
  color: var(--secondary-color);
  cursor: pointer;
  border: 3px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--main-text);
}

/* team button home page */
.aBtn button {
  font-size: 0.9rem;
  margin: 0 auto;
  text-transform: uppercase;
  background: none;
  border: none;
  color: var(--main-text);
  width: 100%;
}

/* team button home page */
.aBtn button:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Film choices styling */
#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  transition: opacity 1s ease-in;
  animation: fadeIn 1s ease-in forwards;
  padding: 0 2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* return button */
#return-home a {
  width: 230px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid var(--main-text);
  border-radius: 20px;
  color: var(--main-color);
  background: var(--bgButtons-shade);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* return button */
#return-home a:hover {
  color: var(--secondary-color);
  cursor: pointer;
  background: var(--main-text);
  border: 3px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--main-text);
}

/* posters container  */
.btn-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--bgButtons-shade);
  border-radius: 20px;
  padding: 30px;
}

.btn-grid h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-bottom: 1rem;
  color: var(--third-color);
}

.posters-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.btnImg {
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

.btnImg img {
  display: flex;
  height: 280px;
  width: 180px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 193, 7, 0.8);
  border-radius: 10px;
  transition: transform 2s ease-in-out;
}

.btnImg .esb {
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

.btnImg .jedi {
  box-shadow: 0 0 20px rgba(46, 4, 255, 0.6);
}

/* hover activation for images */
.btnImg img:hover {
  transform: rotateY(360deg);
}

/* Light Side */
#light-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  transition: opacity 1s ease-out;
}

#ligth-side {
  color: azure;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content h2,
h4 {
  color: var(--third-color);
  text-align: center;
  text-transform: uppercase;
}

.modal-content h4 {
  margin-top: 2rem;
}

.modal-content p {
  text-align: center;
  font-size: 0.75rem;
  line-height: 2rem;
}

.modal-content {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  border-radius: 20px;
  width: 70%;
  background-color: var(--secondary-color);
  animation-name: animatetop;
  animation-duration: 1s;
}

/* Mute button */
#mute {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 1svw;
  background: none;
  border: none;

  max-width: clamp(2rem, 2.5svw, 4rem);

  z-index: 99;
}

#mute > img {
  max-width: inherit;
}


/* Scores */
#highscores {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table td, table th {
  border: 3px solid #FFC107;
  padding: 0  5px 0 5px;
  border-radius: 3px;
}
table thead {
    border-bottom: 2px solid #FFC107;
}

/* Add Animation to drop in rules */
@keyframes animatetop {
  from {
    top: 100%; /* Start from below */
    opacity: 0;
  }
  to {
    top: 0; /* End in place */
    opacity: 1;
  }
}

/* Styling for the close button */
.close {
  color: var(--third-color);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--fourth-color);
  text-decoration: none;
  cursor: pointer;
  font-size: 35px;
}

/* IS THIS CODE BEING USED? */
/* @media screen and (max-width: 425px) {
  #header {
    margin-top: 40px;
  }

  #header img {
    width: 220px;
  }

  .modal-content h2 {
    margin: 10px 0;
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .modal-content h4 {
    margin: 10px 0;
    font-size: 0.6rem;
    line-height: 1rem;
  }

  .modal-content p {
    font-size: 0.5rem;
    line-height: 1rem;
  }
} */

@media screen and (min-width: 768px) {
  #header {
    margin: 70px auto;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }

  #header img {
    margin: 0 auto;
    width: 275px;
  }

  #header h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  /* buttons styling */
  #movie-container .btn,
  .aBtn {
    width: 450px;
  }

  .btnImg img {
    display: flex;
    height: 300px;
    width: 200px;
    cursor: pointer;
  }

  .posters-container {
    flex-direction: row;
  }

  .modal-content {
    padding: 30px;
  }
}
