@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-color: #ffc107;
  --secondary-color: #252525;
  --third-color: #888;
  --background-fade: #b7b7b766;
  --fourth-color: #000;
  --bgButtons-shade: rgba(37, 37, 37, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 2px;
  line-height: 4rem;
}

html {
  height: 100dvh;
}

body {
  color: var(--main-color);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem 2rem;
  background-color: var(--secondary-color);
}

/* content box  */
main {
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--bgButtons-shade);
  /* margin-bottom: 2rem; */
}

/* page title  */
main h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
  padding: 2rem 0 2rem 0;
  color: var(--third-color);
}

/* star background + warp effect  */
#space {
  width: 100%;
  height: 100%;
  transition: opacity 5s ease-out;
}

.stars-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Header Styling */
#header-team {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

#header-team img {
  width: 200px;
  padding: 0.5rem 0;
  margin: 0 auto;
}

#header-team h2 {
  font-size: 1.25rem;
  padding-top: 1rem;
}

/* nav with return button and page title  */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  z-index: 2;
}

/* return home button  */
.navbar a {
  width: 230px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid var(--main-color);
  border-radius: 20px;
  color: var(--main-color);
  background: rgba(37, 37, 37, 0.6);
  margin-bottom: 50px;
  margin-top: 50px;
}

.navbar a:hover {
  color: var(--secondary-color);
  cursor: pointer;
  background: var(--main-color);
  border: 3px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--main-color);
}

.cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

/* flip cards */
.flip-card {
  width: 230px;
  height: 220px;
  margin-bottom: 1.5rem;
}

.flip-card-inner {
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front img {
  height: 150px;
  filter: drop-shadow(0 0 0.5rem var(--third-color));
}

.flip-card-back {
  width: 100%;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h3 {
  font-size: 1.2rem;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--fourth-color);
}

.social-links {
  width: 60%;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.social-links img {
  height: 50px;
}

@media screen and (min-width: 320px) {
  #header img {
    width: 200px;
  }
}

/* tablet screen size and above */
@media screen and (min-width: 768px) {
  body {
    background-image: unset;
    margin: 0;
  }

  main {
    width: 700px;
    padding: 30px;
  }

  #header-team {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
  }

  #header-team img {
    margin: 30px auto;
  }

  #header-team h2 {
    font-size: 1.5rem;
    padding: 40px;
  }

  #header-team h2:last-child {
    width: 290px;
  }

  /* page title  */
  main h1 {
    padding: 0;
    padding-bottom: 2rem;
  }

  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: unset;
    row-gap: 1rem;
    column-gap: 1.6rem;
  }

  /* flip cards */
  .flip-card {
    width: 190px;
    height: 190px;
    margin-bottom: unset;
  }

  .flip-card:last-child {
    margin-bottom: 0;
  }

  .flip-card-front img {
    height: 110px;
  }

  .flip-card-back h3 {
    font-size: 0.9rem;
    padding-top: 1rem;
  }

  .social-links {
    width: 60%;
  }

  .social-links img {
    height: 40px;
  }
}

/* medium screen size and above */
@media screen and (min-width: 992px) {
  main {
    width: 900px;
  }
}
