@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-text: #ffc107;
  --secondary-color: #000a14; /* tm-updated */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 2px;
  line-height: 4rem;
}

/* tm-updated */
body {
  background-color: var(--secondary-color);
  color: var(--main-text);
  height: 100vh;
}

/* tm-updated */
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* padding-top: 100px; */
  position: relative;
  padding-right: 55px;
}

/* tm-updated */
#header img {
  width: 350px;
}

/* tm-updated */
#header h2 {
  font-size: 3rem;
}

/* tm-updated */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  /* background-color: red; */
}

/* tm-updated */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  transition: opacity 1s ease-out;
  height: 350px;
}

/* tm-updated */
#movie-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* tm-updated */
#movie-container button {
  text-transform: uppercase;
  margin: 5px;
  width: 500px;
  font-size: 1rem;
  border-radius: 20px;
  border: 3px solid var(--main-text);
  color: var(--main-text);
  background: rgba(37, 37, 37, 0.6);
}

/* tm-updated */
#movie-container button:hover {
  background-color: var(--main-text);
  color: var(--secondary-color);
  cursor: pointer;
  border: 3px solid #262626;
  box-shadow: 0 0 10px var(--main-text);
}

/* star background + warp effect  */
#space {
  width: 100%;
}
.stars-bg {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.modal-content h2,
p {
  text-align: center;
}

.modal-content p {
  font-size: 0.75rem;
}

.modal-content {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  width: 40%;
  background-color: #262626;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 20px;
}

/* Add Animation to drop in rules */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Styling for the close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--main-text);
  text-decoration: none;
  cursor: pointer;
}

footer {
  color: var(--secondary-color);
  background-color: var(--main-text);
  height: 200px;
}

@media screen and (min-width: 768px) {
  #header {
    flex-direction: row;
  }

  #header img {
    margin: 0;
  }

  #header h2 {
    font-size: 1.5rem;
    padding: 20px;
  }
}
